.registerPage {
  height: 100vh;
  width: 100%;
  background: $color-background-3;
  .leftSide {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    .leftSide__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
      // .title {
      //   h1 {
      //     padding: 0.5rem 3.375rem 0.625rem 0;
      //     @include text($fs-text-3, $fw-7, $color-text-1, $lh-2);
      //   }
      //   span {
      //     padding: 0 13.5rem 0 0;
      //     @include text($fs-body-1, $fw-4, $color-text-4, $lh-2);
      //   }
      // }
      .registerForm {
        width: 100%;
        padding-top: 0.77rem;
        .ant-form {
          .ant-form-item {
            padding: 0 0.75rem 0 0.75rem;
            margin-bottom: 0.625rem;
            .ant-row {
              .ant-col {
                .ant-form-item-control-input {
                  flex-direction: column;
                  .ant-form-item-control-input-content {
                    width: 100%;
                    .register-text {
                      text-align: center;
                      padding-top: 1.25rem;
                      @include text($fs-text-1, $fw-4, $color-text-4, $lh-2);
                      a {
                        text-decoration: none;

                        @include text($fs-text-1, $fw-7, $color-primary-main-1);
                      }
                    }
                    .ant-checkbox-wrapper {
                      padding: 0 0 0.875rem 0;
                      .ant-checkbox {
                        .ant-checkbox-input {
                          width: 1rem;
                          height: 1rem;
                          border: 0.125rem solid $color-button-solid-1;
                        }
                        .ant-checkbox-inner {
                          width: 1.2rem;
                          height: 1.2rem;
                          border: 0.063rem solid $color-button-solid-1;
                        }
                      }
                      span {
                        @include text($fs-text-1, $fw-4, $color-text-4, $lh-2);
                      }
                      .ant-checkbox-checked {
                        .ant-checkbox-inner {
                          background-color: $color-background-1;
                        }
                      }
                      .ant-checkbox-checked:after {
                        border: 2px solid $color-background-1;
                      }
                    }
                    .terms-and-conditions {
                      @include text(
                        $fs-text-1,
                        $fw-5,
                        $color-primary-main-1,
                        $lh-2
                      );
                      text-decoration: none;
                    }
                    .ant-select-selector {
                      align-items: center;
                      color: $color-button-solid-1;
                      padding: 1.695rem 0.7rem 1.695rem 2.813rem;
                      background: rgba(250, 116, 54, 0.1);
                      border: 0.125rem solid $color-button-solid-1;
                      border-radius: 0.625rem;
                      box-shadow: inset 0 0 0 1px transparent,
                        inset 0 0 0 100px transparent;
                      span {
                        @include text($fs-body-2, $fw-4, $color-button-solid-1);
                        overflow: inherit;
                      }
                    }
                    .ant-select-arrow {
                      inset-inline-end: 1rem;
                      color: $color-button-solid-1;
                      span {
                        svg {
                          width: 1.2rem;
                          height: 1.2rem;
                        }
                      }
                    }
                  }
                }
                div {
                  .ant-form-item-explain {
                    .ant-form-item-explain-error {
                      font-size: 1rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//------------------------------------------Responsive----------------------------------//
//dt 380
@media screen and (min-width: 280px) { 
  .registerPage{
   .row{
    .leftSide{
      .leftSide__content {
       overflow: hidden;
        .title {
         width: auto;
          h1 {
            padding: 0.5rem 1.375rem 0.3rem 0;
            @include text($fs-title-3, $fw-7, $color-text-1, $lh-1);
          }
          span {
            padding: 0 7.5rem 0 0;
            @include text($fs-text-1, $fw-4, $color-text-4, $lh-2);
          }
        }
      }
    }
   }
  }
 }
 
@media screen and (min-width:720px){
  .registerPage{   
   .row{
    overflow: auto;
    .leftSide{
      .leftSide__content {
        width: auto;
        .title {
          h1 {
            padding: 0.5rem 1.375rem 0.3rem 0;
            @include text($fs-title-3, $fw-7, $color-text-1, $lh-1);
          }
          span {
            padding: 0 7.5rem 0 0;
            @include text($fs-text-1, $fw-4, $color-text-4, $lh-2);
          }
        }
      }
     }
   }
   }
}


@media screen and (min-width: 1200px) {
 .registerPage{
    .row{
      .leftSide{
        .leftSide__content {
          height: auto;
          .title {
            h1 {
              padding: 0.5rem 3.375rem 0.625rem 0;
              @include text($fs-text-3, $fw-7, $color-text-1, $lh-2);
            }
            span {
              padding: 0 13.5rem 0 0;
              @include text($fs-body-1, $fw-4, $color-text-4, $lh-2);
            }
          }
        }
       }
    }
 }
}




