.left-side {
    width: 50%;
    height: 100vh;
    padding-left: 0!important;
    padding-right: 0!important;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    .forgot-password-item-1 {
      display: flex;
      flex-direction: column;
      align-items: center;  
      .title {
        width: 29.813rem;
      height: 4.25rem;
        h1 {
          @include text($fs-text-3,$fw-7,$color-text-1,$lh-2);
        }
        span {
          @include text($fs-body-1,$fw-4,$color-text-4,$lh-3);
        }
      }
      .forgot-password-form {
        .ant-form {
          padding-top: 25px;
          .ant-form-item {
            .ant-row {
              .ant-col {
                .ant-form-item-control-input {
                  .ant-form-item-control-input-content {
                    button {
                     
                      width: 28.313rem;
                      height: 4rem;
                      background: $color-background-1;
                      border-radius: 10px;
                      span {
                        
                        @include text($fs-body-1,$fw-7,$color-background-3,$lh-2);
                      }
                    }
                    padding: 0 12px;
                    .ant-input-affix-wrapper {
                      align-items: center;
                    gap: 10px;
                    color: $color-button-solid-1;
                    width: 28.313rem;
                    height: 4rem;
                    padding: 10px 0;
                    background: rgba(250, 116, 54, 0.1);
                    border: 2px solid $color-button-solid-1;
                    border-radius: 10px;
                      .ant-input-prefix {
                        margin-inline-end: 0;
                        img {
                          width: 1.563rem;
                          height: 1.563rem;
                        }
                      }
                      ::placeholder {              
                        @include text($fs-body-2,$fw-4, $color-button-solid-1,);
                      }
                      .ant-input-suffix {
                        margin-inline-start: 0;
                        span {
                          color: $color-button-solid-1;
                          
                          svg {
                            /* eye-slash */
                            width: 1.563rem;
                            height: 1.563rem;
                          }
                        }
                      }
                      input {
                        width: 22rem;
                      background: none;
                      cursor: inherit;
                      box-shadow: inset 0 0 0 1px transparent,
                        inset 0 0 0 100px transparent;
                      }
                      input:-webkit-autofill,
                      input:-webkit-autofill:focus {
                        transition: background-color 600000s 0s, color 600000s 0s;
                        font-family: "Poppins", sans-serif;
                      }
                    }                  
                    .check {                  
                      text-decoration: none;
                      padding-top: 25px;
                      @include text($fs-text-1,$fw-4, $color-text-4,$lh-2);
                      .login-now{
                          @include text($fs-text-1,$fw-7, $color-text-4,$lh-2);
                      }
                      a{
                          @include text($fs-text-1,$fw-7, $color-primary-main-1,$lh-2);
                      }
                      
                    }
                  }
                }
                div {
                    .ant-form-item-explain {
                      .ant-form-item-explain-error {
                        padding: 0 12px;
                      }
                    }
                  }
              }
            }
          }
        }
      }
    }
  }
  