.left-side {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .otp-item-1 {
    .title {
      max-width: 29.8125rem;
      width: 29.8125rem;
      h1 {
        font-size: $fs-text-3;
        font-weight: $fw-7;
        color: $color-text-1;
        line-height: $lh-2;
      }
      span {
        height: 3.0625rem;
        font-size: $fs-body-1;
        font-weight: $fw-4;
        color: $color-text-4;
        line-height: $lh-3;
      }
      .nav-text {
        height: 3.0625rem;
        font-size: $fs-body-1;
        font-weight: $fw-6;
        color: $color-primary-main-1;
        line-height: $lh-3;
      }
    }
    .otp-content {
      display: flex;
      gap: 0.625rem;
      padding: 1.5626rem 0rem;
      justify-content: center;
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      .otp-button {
        outline: none;
        text-align: center;
        font-size: $fs-text-7;
        font-weight: $fw-4;
        line-height: $lh-2;
        max-width: 3.625rem;
        max-height: 3.625rem;
        width: 3.625rem;
        height: 3.625rem;
        border-radius: 0.625rem;
        border: 2px solid rgba(250, 116, 54, 0.5);
        background: rgba(250, 116, 54, 0.1);
      }
    }
    .submit-button {
      padding: 0rem $pd-075;
      button {
        display: flex;
        max-width: 28.3125rem;
        max-height: 3.625rem;
        width: 28.3125rem;
        height: 3.625rem;
        padding: $pd-075;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        background: $color-primary-main-1;
        border-radius: 0.625rem;
        span {
          font-size: $fs-body-1;
          font-weight: $fw-7;
          color: $color-background-3;
          line-height: $lh-2;
        }
      }
      .check {
        padding-top: 1.25rem;
        text-align: center;
        text-decoration: none;
        font-size: $fs-text-1;
        font-weight: $fw-7;
        color: $color-primary-main-1;
        line-height: $lh-2;
      }
    }
  }
}

@media only screen and (max-width: 46.1875rem) {
  .left-side {
    .otp-item-1 {
      text-align: center;
      .title {
        width: auto;
        h1 {
          font-size: $fs-text-4;
        }
        span {
          font-size: $fs-body-3;
        }
        .nav-text {
          font-size: $fs-body-3;
        }
      }
      .otp-content {
        gap: 0.325rem;
        padding: 1.325rem 0rem;
        .otp-button {
          font-size: $fs-text-6;
          width: 2.625rem;
          height: 2.625rem;
        }
      }
      .submit-button {
        padding: 0;
        button {
          width: 100%;
          height: auto;
          span {
            font-size: $fs-body-3;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 46.25rem) and (max-width: 63.9375rem) {
  .left-side {
    .otp-item-1 {
      .title {
        width: auto;
      }
      .otp-content {
        padding: 1.525rem $pd-075;
      }
      .submit-button {
        button {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (width: 64rem) {
  .left-side {
    .otp-item-1 {
      .title {
        width: auto;
        h1 {
          font-size: $fs-text-7;
        }
        span {
          font-size: $fs-body-2;
        }
        .nav-text {
          font-size: $fs-body-2;
        }
      }
      .otp-content {
        padding: 1.525rem $pd-075;
        .otp-button {
          font-size: $fs-text-6;
          width: 3rem;
          height: 3rem;
        }
      }
      .submit-button {
        button {
          width: 100%;
          height: auto;
          span {
            font-size: $fs-body-2;
          }
        }
      }
    }
  }
}
