@import "../themes/_variable.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
 

  @media screen and (max-width: 1000px) {
    .row {
      .leftSide {
        width: 100%!important;
      }
      .rightSide {
        display: none;
      }
    }
  }
}

h1,
h2,
h3,
h4,
span,
input {
  font-family: "Poppins", sans-serif !important;
}

html {
}

body {
}
