.left-side {
  background: $color-background-3;
  width: 50%;
  height: 100vh;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  .login-item-1 {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    .title {
      width: 29.813rem;
      height: 4.25rem;
      h1 {
        @include text($fs-text-3, $fw-7, $color-text-1, $lh-2);
      }
      span {
        @include text($fs-body-1, $fw-4, $color-text-4, $lh-2);
      }
    }
    .button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1.563rem 0;
      .ant-space {
        gap: 2.5rem !important;
        .ant-space-item {
          button {
            border: 2px solid $color-button-solid-1;
            width: 13.438rem;
            height: 3.75rem;
            img {
              margin-bottom: 0.33rem;
              height: 1.75rem;
              width: 1.75rem;
            }
            .google-text {
              padding: 0.625rem 0.625rem;

              @include text($fs-text-2, $fw-5, $color-text-1, $lh-2);
            }
            .facebook-text {
              padding: 0.625rem 0.625rem;

              @include text($fs-text-2, $fw-5, $color-text-1, $lh-2);
            }
          }
        }
      }
    }
    .nav-text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.563rem;

      h2 {
        width: 28.313rem;
        text-align: center;
        border-bottom: 1px solid $color-text-4;
        line-height: 0.1em;
        margin: 0 0 15px;

        span {
          background: $color-background-3;
          padding: 0 $pd-075;
          text-align: center;
          @include text($fs-text-min, $fw-5, $color-text-4);
        }
      }
    }
    .login-form {
      padding-top: 0.5rem;
      .ant-form {
        .ant-form-item {
          // padding-bottom: 10px;

          @include text($fs-text-1, $fw-4, $color-text-4, $lh-2);
          .ant-row {
            .ant-col {
              .ant-form-item-control-input {
                flex-direction: column;
                .ant-form-item-control-input-content {
                  padding: 0 12px;
                  button {
                    width: 28.313rem;
                    height: 4rem;
                    background: $color-background-1;
                    border-radius: 10px;
                    span {
                      @include text(
                        $fs-body-1,
                        $fw-7,
                        $color-background-3,
                        $lh-2
                      );
                    }
                  }
                  .register {
                    padding-top: 20px;
                    @include text($fs-text-1, $fw-4, $color-text-4, $lh-2);
                    a {
                      text-decoration: none;

                      @include text($fs-text-1, $fw-7, $color-primary-main-1);
                    }
                  }

                  .ant-input-affix-wrapper {
                    align-items: center;
                    gap: 10px;
                    color: $color-button-solid-1;
                    width: 28.313rem;
                    height: 4rem;
                    padding: 10px 0;
                    background: rgba(250, 116, 54, 0.1);
                    border: 2px solid $color-button-solid-1;
                    border-radius: 10px;
                    .ant-input-prefix {
                      margin-inline-end: 0;
                      img {
                        width: 1.563rem;
                        height: 1.563rem;
                      }
                    }
                    ::placeholder {
                      @include text($fs-body-2, $fw-4, $color-button-solid-1);
                    }
                    .ant-input-suffix {
                      margin-inline-start: 0;
                      span {
                        color: $color-button-solid-1;
                        svg {
                          /* eye-slash */
                          width: 1.563rem;
                          height: 1.563rem;
                        }
                      }
                    }
                    input {
                      width: 22rem;
                      background: none;
                      cursor: inherit;
                      box-shadow: inset 0 0 0 1px transparent,
                        inset 0 0 0 100px transparent;
                    }
                    input:-webkit-autofill,
                    input:-webkit-autofill:focus {
                      transition: background-color 600000s 0s, color 600000s 0s;
                      font-family: "Poppins", sans-serif;
                    }
                  }
                  .ant-checkbox-wrapper {
                    padding-right: 9.7rem;
                    .ant-checkbox {
                      .ant-checkbox-input {
                        width: 16px;
                        height: 16px;
                        border: 2px solid $color-button-solid-1;
                      }
                      .ant-checkbox-inner {
                        border: 1px solid $color-button-solid-1;
                      }
                    }
                    span {
                      @include text($fs-text-1, $fw-4, $color-text-4, $lh-2);
                    }
                    .ant-checkbox-checked {
                      .ant-checkbox-inner {
                        background-color: $color-background-1;
                      }
                    }
                    .ant-checkbox-checked:after {
                      border: 2px solid $color-background-1;
                    }
                  }
                  .login-form-forgot {
                    text-decoration: none;

                    @include text(
                      $fs-text-1,
                      $fw-6,
                      $color-primary-main-1,
                      $lh-2
                    );
                  }
                }
              }
              div {
                .ant-form-item-explain {
                  .ant-form-item-explain-error {
                    padding: 0 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//------------------------------------------Responsive----------------------------------//
@media screen and (min-width: 375px) {
  .left-side {
    overflow-y: clip;
    .login-item-1 {
      overflow-y: clip;
      // padding-top: 1rem;
      .title {
        width: 335px;
        padding-left: 0.5rem;
        h1 {
          @include text($fs-text-6, $fw-7, $color-text-1, $lh-1);
        }
        span {
          @include text($fs-text-1, $fw-4, $color-text-4, $lh-2);
        }
      }
      .button {
        padding: 0 0 1rem 0;
        .ant-space {
          gap: 2rem !important;
          .ant-space-item {
            button {
              width: 9rem;
              height: 3rem;
              padding: 4px 4px;
              img {
                width: 2rem;
                height: 2rem;
              }
              .google-text {
                padding: 0.7rem 0.7rem;
                @include text($fs-body-2, $fw-5, $color-text-1, $lh-1);
              }
              .facebook-text {
                padding: 0.7rem 0.4rem;
                @include text($fs-body-2, $fw-5, $color-text-1, $lh-1);
              }
            }
          }
        }
      }
      .nav-text {
        h2 {
          width: 18.5rem;
          margin: 0.8rem 0;
          border-bottom: 0.1rem solid $color-text-4;
          span {
            @include text($fs-text-min, $fw-5, $color-text-4);
          }
        }
      }
      .login-form {
        .ant-form {
          .ant-form-item {
            .ant-row {
              .ant-col {
                .ant-form-item-control-input {
                  .ant-form-item-control-input-content {
                    button {
                      width: 18.5rem;
                      height: 3.5rem;

                      span {
                        @include text(
                          $fs-text-1,
                          $fw-7,
                          $color-background-3,
                          $lh-2
                        );
                      }
                    }
                    .register {
                      @include text($fs-text-min, $fw-4, $color-text-4, $lh-2);

                      a {
                        @include text(
                          $fs-text-min,
                          $fw-7,
                          $color-primary-main-1
                        );
                      }
                    }

                    .ant-input-affix-wrapper {
                      width: 18.5rem;
                      height: 3.5rem;

                      .ant-input-prefix {
                        img {
                          width: 2rem;
                          height: 2rem;
                        }
                      }
                      ::placeholder {
                        @include text($fs-text-1, $fw-4, $color-button-solid-1);
                      }
                      .ant-input-suffix {
                        margin-inline-start: 0;
                        span {
                          svg {
                            width: 1rem;
                            height: 1rem;
                          }
                        }
                      }
                      input {
                        width: 200px;
                        @include text($fs-text-1, $fw-5, $color-text-4);
                      }
                    }
                    .ant-checkbox-wrapper {
                      padding-right: 3.8rem;
                      .ant-checkbox {
                        .ant-checkbox-input {
                        }
                        .ant-checkbox-inner {
                          width: 1.2rem;
                          height: 1.2rem;
                        }
                      }
                      span {
                        @include text(
                          $fs-text-min,
                          $fw-4,
                          $color-text-4,
                          $lh-2
                        );
                      }
                      .ant-checkbox-checked {
                        .ant-checkbox-inner {
                        }
                      }
                      .ant-checkbox-checked:after {
                      }
                    }
                    .login-form-forgot {
                      @include text(
                        $fs-text-min,
                        $fw-6,
                        $color-primary-main-1,
                        $lh-2
                      );
                    }
                  }
                }
                div {
                  .ant-form-item-explain {
                    .ant-form-item-explain-error {
                      padding: 0 22px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .left-side {
    .login-item-1 {
      padding-top: 1.5rem;
      .title {
        width: 335px;
        padding-left: 0.5rem;
        h1 {
          @include text($fs-text-6, $fw-7, $color-text-1, $lh-1);
        }
        span {
          @include text($fs-text-1, $fw-4, $color-text-4, $lh-2);
        }
      }
      .button {
        .ant-space {
          gap: 2rem !important;
          .ant-space-item {
            button {
              width: 9rem;
              height: 3rem;
              padding: 4px 4px;
              img {
                width: 2rem;
                height: 2rem;
              }
              .google-text {
                padding: 0.7rem 0.7rem;
                @include text($fs-body-2, $fw-5, $color-text-1, $lh-1);
              }
              .facebook-text {
                padding: 0.7rem 0.4rem;
                @include text($fs-body-2, $fw-5, $color-text-1, $lh-1);
              }
            }
          }
        }
      }
      .nav-text {
        h2 {
          width: 18.5rem;
          margin: 0.8rem 0;
          border-bottom: 0.1rem solid $color-text-4;
          span {
            @include text($fs-text-min, $fw-5, $color-text-4);
          }
        }
      }
      .login-form {
        .ant-form {
          .ant-form-item {
            .ant-row {
              .ant-col {
                .ant-form-item-control-input {
                  .ant-form-item-control-input-content {
                    button {
                      width: 18.5rem;
                      height: 3.5rem;

                      span {
                        @include text(
                          $fs-text-1,
                          $fw-7,
                          $color-background-3,
                          $lh-2
                        );
                      }
                    }
                    .register {
                      @include text($fs-text-min, $fw-4, $color-text-4, $lh-2);

                      a {
                        @include text(
                          $fs-text-min,
                          $fw-7,
                          $color-primary-main-1
                        );
                      }
                    }

                    .ant-input-affix-wrapper {
                      width: 18.5rem;
                      height: 3.5rem;

                      .ant-input-prefix {
                        img {
                          width: 2rem;
                          height: 2rem;
                        }
                      }
                      ::placeholder {
                        @include text($fs-text-1, $fw-4, $color-button-solid-1);
                      }
                      .ant-input-suffix {
                        margin-inline-start: 0;
                        span {
                          svg {
                            width: 1rem;
                            height: 1rem;
                          }
                        }
                      }
                      input {
                        width: 200px;
                        @include text($fs-text-1, $fw-5, $color-text-4);
                      }
                    }
                    .ant-checkbox-wrapper {
                      padding-right: 3.8rem;
                      .ant-checkbox {
                        .ant-checkbox-input {
                        }
                        .ant-checkbox-inner {
                          width: 1.2rem;
                          height: 1.2rem;
                        }
                      }
                      span {
                        @include text(
                          $fs-text-min,
                          $fw-4,
                          $color-text-4,
                          $lh-2
                        );
                      }
                      .ant-checkbox-checked {
                        .ant-checkbox-inner {
                        }
                      }
                      .ant-checkbox-checked:after {
                      }
                    }
                    .login-form-forgot {
                      @include text(
                        $fs-text-min,
                        $fw-6,
                        $color-primary-main-1,
                        $lh-2
                      );
                    }
                  }
                }
                div {
                  .ant-form-item-explain {
                    .ant-form-item-explain-error {
                      padding: 0 22px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .left-side {
    .login-item-1 {
      .title {
        width: 29.813rem;
        height: 4.25rem;
        h1 {
          @include text($fs-text-3, $fw-7, $color-text-1, $lh-2);
        }
        span {
          @include text($fs-body-1, $fw-4, $color-text-4, $lh-3);
        }
      }
      .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1.563rem 0;
        .ant-space {
          gap: 2.5rem !important;
          .ant-space-item {
            button {
              border: 2px solid $color-button-solid-1;
              width: 13.438rem;
              height: 3.75rem;
              img {
                height: 1.75rem;
                width: 1.75rem;
              }
              .google-text {
                padding: 0.625rem 0.625rem;
                @include text($fs-text-2, $fw-5, $color-text-1, $lh-2);
              }
              .facebook-text {
                padding: 0.625rem 0.625rem;
                @include text($fs-text-2, $fw-5, $color-text-1, $lh-2);
              }
            }
          }
        }
      }
      .nav-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.563rem;
        h2 {
          width: 28.313rem;
          text-align: center;
          border-bottom: 1px solid $color-text-4;
          line-height: 0.1em;
          margin: 0 0 15px;

          span {
            background: $color-background-3;
            padding: 0 $pd-075;
            text-align: center;
            @include text($fs-text-min, $fw-5, $color-text-4);
          }
        }
      }
      .login-form {
        padding-top: 0.5rem;
        .ant-form {
          .ant-form-item {
            @include text($fs-text-1, $fw-4, $color-text-4, $lh-2);
            .ant-row {
              .ant-col {
                .ant-form-item-control-input {
                  flex-direction: column;
                  .ant-form-item-control-input-content {
                    padding: 0 12px;
                    button {
                      width: 28.313rem;
                      height: 4rem;
                      background: $color-background-1;
                      border-radius: 10px;
                      span {
                        @include text(
                          $fs-body-1,
                          $fw-7,
                          $color-background-3,
                          $lh-2
                        );
                      }
                    }
                    .register {
                      padding-top: 20px;
                      @include text($fs-text-1, $fw-4, $color-text-4, $lh-2);

                      a {
                        @include text($fs-text-1, $fw-7, $color-primary-main-1);
                      }
                    }

                    .ant-input-affix-wrapper {
                      align-items: center;
                      gap: 10px;
                      color: $color-button-solid-1;
                      width: 28.313rem;
                      height: 4rem;
                      padding: 10px 0;
                      background: rgba(250, 116, 54, 0.1);
                      border: 2px solid $color-button-solid-1;
                      border-radius: 10px;

                      .ant-input-prefix {
                        margin-inline-end: 0;
                        img {
                          width: 1.563rem;
                          height: 1.563rem;
                        }
                      }
                      ::placeholder {
                        @include text($fs-body-2, $fw-4, $color-button-solid-1);
                      }
                      .ant-input-suffix {
                        margin-inline-start: 0;
                        span {
                          color: $color-button-solid-1;
                          svg {
                            /* eye-slash */
                            width: 1.563rem;
                            height: 1.563rem;
                          }
                        }
                      }
                      input {
                        width: 22rem;
                        background: none;
                        cursor: inherit;
                        box-shadow: inset 0 0 0 1px transparent,
                          inset 0 0 0 100px transparent;
                      }
                      input:-webkit-autofill,
                      input:-webkit-autofill:focus {
                        transition: background-color 600000s 0s,
                          color 600000s 0s;
                        font-family: "Poppins", sans-serif;
                      }
                    }
                    .ant-checkbox-wrapper {
                      padding-right: 9.7rem;
                      .ant-checkbox {
                        .ant-checkbox-input {
                          width: 16px;
                          height: 16px;
                          border: 2px solid $color-button-solid-1;
                        }
                        .ant-checkbox-inner {
                          border: 1px solid $color-button-solid-1;
                        }
                      }
                      span {
                        @include text($fs-text-1, $fw-4, $color-text-4, $lh-2);
                      }
                      .ant-checkbox-checked {
                        .ant-checkbox-inner {
                          background-color: $color-background-1;
                        }
                      }
                      .ant-checkbox-checked:after {
                        border: 2px solid $color-background-1;
                      }
                    }
                    .login-form-forgot {
                      @include text(
                        $fs-text-1,
                        $fw-6,
                        $color-primary-main-1,
                        $lh-2
                      );
                    }
                  }
                }
                div {
                  .ant-form-item-explain {
                    .ant-form-item-explain-error {
                      padding: 0 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//icon 25px ; remember me 16px ; icon fb gmail 28px
